<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StringConexion" connectionString="Server=SEGSVRSQL01;uid=admonDb_planta;pwd=GcgPlanta2019*.;database=PlantaBeneficio" providerName="System.Data.SqlClient"/>
    <add name="StringConexionODBC" connectionString="Provider=SQLNCLI10;Initial Catalog=PlantaBeneficio;Data Source=SEGSVRSQL01; User ID=admonDb_planta;Password=GcgPlanta2019*.;"/>
  </connectionStrings>
</configuration>
